.custom-overlay__caption {
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 240px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 2px;
  font-size: 90%;
}

.custom-overlay__tag {
  word-wrap: break-word;
  display: inline-block;
  background-color: white;
  height: auto;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  border-radius: 0.25em;
  color: black;
  vertical-align: baseline;
  margin: 2px;
}

.ReactGridGallery_tile {
  border-radius: 20px;
  overflow: hidden;
  margin: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.ReactGridGallery_tile-viewport {
  border-radius: 20px;
}

.ReactGridGallery_tile-viewport img {
  object-fit: cover !important;
  border-radius: 20px;
}
